# Package Files
*.zip
*.tar.gz
*.tgz
*.war
*.ear

# Eclipse and java files
.classpath
.settings/
.project
.metadata

# Virtual machine crash logs
hs_err_pid*

# Mac OSX files
.DS_Store
.AppleDouble
.LSOverride

# Linux files
*~
.Trash-*

# Target folder
/target/

# Object files
/src/main/native/build
